body{
	background-color: #DCDCDC;
	font-family: calibri;
}
.zagolovok{
	width: 100%;
	height: 130px;
	background-color: orange;
	margin-top: 0px;
	display: inline-block;
}
.zagolovok h1{
	font-size: 30px;
	text-align: center;
	margin-top: 15px;
	font-weight: 600;
	color:white;
}
.box{
	width: 1000px;
	height: 1000px;
	background-color:orange ;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	display: inline-block;
	margin-top: 20px;
	float: right;
	margin-right: 50px;
}
#news{
	border-top: 2px solid #D3D3D3;
	width: 400px;
	height: 300px;
	background-color: orange;
	display: inline-block;
	margin-top: -3px;
}
#news:hover{
	background-color: yellow;
}
#news img{
	width: 400px;
	height: 200px;
}
#news p{
	margin: 10px;
	text-align: left;
}
.box2{
	width: 400px;
	height: 1000px;
	background-color: orange;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	display: inline-block;
	margin-top: 20px;
}
.box3{
	border-right: 2px solid #D3D3D3;
	width:700px;
	height: 1000px;
	background-color: orange;
	display: inline-block;
}
.box3 p{
	margin: 7px;
}
.box3 img{
	width: 700px;
	height: 400px;
}
.box4{
	width: 295px;
	height: 1000px;
	background-color: orange;
	display: inline-block;
	float: right;

}
#button{
	width: 100px;
	height: 50px;
	background-color: #DAA520;
	float: right;
	margin-right: 100px;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#button p{
	text-align: center;
	margin-top: 15px;
}
#button p:hover{
	font-weight: bold;
}
#news2{
	border-bottom: 2px solid #D3D3D3;
	width: 295px;
	height: 300px;
	background-color: orange;
	display: inline-block;
	margin-right: -20px;
}
#news2:hover{
	background-color: yellow;
}
#news2 img{
	width: 295px;
	height: 200px;
}
#news2 p{
	margin:10px;
	font-weight: bold;
	margin-top: 20px;
}
@media (max-width: 500px) {
	.zagolovok{
	width: 100%;
	height: 150px;
	background-color: orange;
	margin-top: 0px;
	display: inline-block;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.zagolovok h1{
	font-size: 30px;
	text-align: center;
	margin-top: 50px;
	font-weight: 600;
	color:white;
}
.box2{
	width: 400px;
	height: 935px;
	background-color: orange;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	display: inline-block;
	margin-top: 20px;
	margin-left: 17px;
}
.box{
	width: 400px;
	height: 1000px;
	background-color:orange;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	display: inline-block;
	float: right;
	margin-right: 50px;
	margin-top: 5px;
}
.box3{
	border-right: 2px solid #D3D3D3;
	width:400px;
	height: 1150px;
	background-color: orange;
	display: inline-block;
	float: right;
	margin-left: 100px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.box3 img{
	width: 400px;
	height: 300px;
}
.box4{
	width: 400px;
	height: 890px;
	background-color: orange;
	display: inline-block;
	float: right;
	margin-top: 10px;
	margin-left: 50px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
#news2{
	width: 400px;
}
#news2 img{
	width: 400px;
	height: 200px;
}
}